/IdentityServer/src/AuthServerDemo/bin/*
/IdentityServer/src/AuthServerDemo/obj/*
/IdentityServer/src/AuthServerDemo/Properties/*
/IdentityServer/.vs/*
*.user

/IdentityServer/src/ClientApp/bin/*
/IdentityServer/src/ClientApp/obj/*
/IdentityServer/src/ClientApp/Properties/*
*.lock.json